body{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
button{
    width: 100px;
    padding: 10px;
    background-color: rgb(255, 14, 14);
    border: none;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgba(255, 14, 14, 0.719);

}